@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

/* MODAL */
.root-SR8cQa { transform: translateZ(0);}
#app-mount .header-QKLPzZ .wrapper-3t9DeA[style*="width: 80px;"] {margin-right: 0 !important}
#app-mount .header-QKLPzZ .wrapper-3t9DeA[style*="width: 80px;"]::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: -1;
    border-radius: 5px 5px 0 0;
    pointer-events: none;
    opacity: .8;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
    -webkit-mask-image: linear-gradient(#000000, #0000004f);
    mask-image: linear-gradient(0.25turn, #0009, #0000);
}
  
.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs { z-index:1; position:relative;}

.topSectionNormal-2-vo2m *, .topSectionSpotify-1lI0-P *, .topSectionPlaying-1J5E4n *, .topSectionStreaming-1Tpf5X *, .body-3ND3kc { z-index: 1;}

.profileBadges-2vWUYb {
	padding-left: 5px;
	width: 280px;
	display: flex;
	flex-wrap: wrap;
}
.profileBadgeWrapper-1rGSsp {
	margin-bottom: 5px;
}
.topSectionNormal-2-vo2m .username-3gJmXY { color: #fff;}
/* POPOUT */
.header-2BwW8b { transform:translateZ(0);}

#app-mount .userPopout-3XzG_A .wrapper-3t9DeA[style*="width: 80px;"]::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: -1;
    border-radius: 5px 5px 0 0;
    pointer-events: none;
    opacity: .8;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background) !important;
    -webkit-mask-image: linear-gradient(#000000, #0000004f);
    mask-image: linear-gradient(0.25turn, #0009, #0000);
}

.body-3iLsc4,
.footer-1fjuF6 {
	background-color: var(--secondary-alpha) !important;
}
.directionColumn-35P_nr {
	background-color: var(--secondary) !important;
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6,
.body-3iLsc4 { z-index: 1;}