/* watermark */
@font-face {
  font-family: 'Discord';
  font-weight: 700;
  src: url("https://raw.githubusercontent.com/powercord-org/powercord-backend/my-awesome-branch/web/src/assets/discord-font.otf") format("opentype");
}
.wordmark-2iDDfm:after {
  content: "ONEDARKUI";
  font-size: 15px;
  position: absolute;
  width: 4000px;
  top: 5px;
  padding-left: -3px;
  font-family: 'Discord';
  color: var(--accent);
}
.wordmark-2iDDfm > svg {
  width: 0px;
}
/** Add icon to watermark **/
/* .wordmark-2iDDfm {
  left: 25px;
}
.wordmark-2iDDfm:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 50px;
  bottom: 0;
  right: 0;
  background: url('https://raw.githubusercontent.com/powercord-org/powercord-backend/my-awesome-branch/web/src/assets/powercord.svg') center/20px no-repeat;
} */