/* SIDEBAR */
.sidebar-2K8pFh,
.container-3w7J-x,
.children-19S4PO {
    border-radius: 8px !important;
}
.sidebar-2K8pFh {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.container-3w7J-x,
.privateChannels-1nO12o {
    order: 2;
    margin-top: 10px;
}
.container-3w7J-x {
    border-radius: 8px !important;
    background-color: var(--primary);
}
.animatedContainer-1NSq4T, .bannerImage-3KhIJ6 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.app-1q1i1E{margin-left:10px;}
.children-19S4PO{
    position:relative;
    padding:5px 5px 5px 5px;
    margin-right:40px;
    background-color: var(--tertiary);
}
.content-1x5b-n {
    border-radius: 50px;
}
.modeSelected-346R90 .content-1x5b-n,
.modeSelected-346R90:hover .content-1x5b-n {
    background-color: var(--accent-alpha);
}

/* DMS */
.scroller-1JbKMe,
.resultFocused-3aIoYe,
.peopleList-3c4jOR,
.tabBody-3YRQ8W,
.privateChannels-1nO12o,
.container-1D34o {
    background-color: var(--primary) !important;
}
.container-1D34oG,
.tabBody-3YRQ8W {
    margin-bottom: 10px;
}
.container-1D34oG,
.nowPlayingColumn-2sl4cE {
    margin-right: 10px;
}
.tabBody-3YRQ8W {
    padding-top: 10px;
}
.container-1D34oG,
.nowPlayingColumn-2sl4cE,
.privateChannels-1nO12o {
    border-radius: 8px !important;
}
.section-2gLsgF {
    background-color: var(--tertiary);
}
.selected-aXhQR6 .layout-2DM8Md {
    background-color: var(--accent-alpha);
}

.colorDefault-2K3EoJ.focused-3afm-j,
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: var(--accent);
}

/* USER SETTINGS AND ETC */
.panels-j1Uci_ {
    border-radius: 8px;
    background-color: var(--primary);
}

.container-3baos1::before,
.container-3w7J-x::before,
.wrapper-24pKcD::before,
.privateChannels-1nO12o::before {
    display: flex !important;
    flex-flow: column !important;
}
.container-3baos1::after,
.wrapper-24pKcD::after {
    flex-flow: column;
}
.container-3baos1 {
    order: 1;
    height:47px;
    background-color: var(--primary);
    border-radius: 8px;
    width:225px;
}
.wrapper-24pKcD {
    order: 3;
}
.closeButton-1tv5uR,
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.option-n0icdO {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}
.disabledIcon-9QatvX {
    color: var(--secondary);
}
.lookGhost-2Fn_0-.colorGrey-2DXtkV {
    color: var(--secondary-alpha);
}
.closeButton-1tv5uR:hover,
.lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
    background-color: var(--accent-alpha) !important;
    border-color: var(--secondary-alpha) !important;
}
.card-FDVird:before,
.notDetected-33MY4s {
    background-color: var(--tertiary) !important;
    border-color: var(--tertiary) !important;
}
.container-3auIfb,
.input-rwLH4i {
    background-color: var(--tertiary) !important;
} 
.userSettingsVoice-iwdUCU .inputSensitivityToggle-2LKb8o .sliderBar-3DezvM,
.bar-2Qqk5Z {
    background-color: var(--tertiary-alpha) !important;
}
.barFill-23-gu-,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.selected-mKYnfr.option-n0icdO,
.checkbox-1ix_J3 {
    background-color: var(--accent) !important;
}
.wrapper-3jrx9n,
.checkbox-1ix_J3 {
    border-color: var(--accent) !important;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: var(--accent-alpha);
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--accent-light);
}
.userSettingsVoice-iwdUCU .sliderBar-3DezvM.speaking-2bFhO4 {
    background-color: #69c49a !important;
}
.notDetected-33MY4s .gameName-1RiWHm {
    color:#fff !important;
}
.connectionHeader-2MDqhu {
    border-radius: 8px;
}

/* SERVERLIST */
.members-1998pB{
    border-radius:8px;
    margin-right:10px;
}

/* MEMBERLIST */
.membersWrap-2h-GB4{
    margin-bottom:10px;
    margin-top:10px;
}
.members-1998pB,
.members-1998pB>div {
    background-color: var(--tertiary);
}
.botTagRegular-2HEhHi {
    background-color: var(--accent);
}

/* CHAT */
.colorStreamerMode-2SJAUN,
.chat-3bRxxu {
    border-radius: 8px;
}
.colorStreamerMode-2SJAUN {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.chat-3bRxxu {
    margin-right: 10px;
    margin-bottom: 10px;
}
.mentioned-xhSam7 {
    background-color: var(--mention-color);
}
.mouse-mode.full-motion .mentioned-xhSam7:hover {
    background-color: var(--mention-color-alt2) !important;
}
.mentioned-xhSam7::before {
    background-color: var(--mention-color-alt);
}
.autocomplete-1vrmpx {
    background-color: var(--secondary) !important;
}
.selected-1Tbx07 {
    background-color: var(--tertiary) !important;
}
.mouse-mode.full-motion .message-2qnXI6:hover {
    background-color: var(--tertiary-alpha);
}
.newMessagesBar-265mhP {
    background-color: var(--accent);
}
.interactive:hover {
    background-color: var(--accent-light);
}

/* TEXTBAR */
.channelTextArea-rNsIhG {
    margin-bottom: 15px;
}
.typing-2GQL18 {
    height: 12px;
}
.base-gE7OpD {
    position: relative;
    bottom: 13px;
    left:0px;
    font-size: 11px;
}
.scrollableContainer-2NUZem {
    background-color: var(--secondary);
}
.base-gE7OpD .slowModeIcon-1BPDC_ {
    position: relative;
    height: 10px;
    bottom: 0.75px;
}
 /* HEADER */
.children-19S4PO:after {
    background:none !important;
}
.title-29uC1r {
    color:#ffffff;
}

/* SEARCHBAR */
.option-96V44q.selected-rZcOL-,
.option-96V44q.selected-rZcOL-:after {
    background: var(--tertiary) !important;
}
/* CHANNEL SETTINGS */
.elevationHigh-1PneE4,
.focused-2bY0OD {
    background-color: var(--secondary) !important;
}

/* VOICECHANNEL */
.colorable-1bkp8v.white-3GPOIp {
    background-color: var(--accent) !important;
}
.colorable-1bkp8v.white-3GPOIp:hover {
    background-color: var(--accent-dark) !important;
}
.colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T,
.colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T:hover {
    color: #fff !important;
}
.colorable-1bkp8v.primaryDark-3mSFDl {
    background-color: var(--tertiary) !important;
}
.colorable-1bkp8v.primaryDark-3mSFDl:hover {
    background-color: var(--secondary) !important;
}
.leftTrayIcon-vpfJk5,
.button-3HqqDX {
    background-color: var(--tertiary);
}
.tile-2naSqK {
    background-color: var(--secondary);
}


/* MISC */
.username-1A8OIy,
.name-1jkAdW,
.tierTooltipTitle-3AtaZT { /* usernames are white */
    color: #ffffff;
}
.searchAnswer-3Dz2-q,
.searchFilter-2ESiM3 { /* seach hover is tertiary */
    background:var(--tertiary) !important;
}
.mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl:after,
.mediaBarProgress-1xaPtl:before,
.mediaBarPreview-1jfyFs,
.mediaBarPreview-1jfyFs:after,
.mediaBarPreview-1jfyFs:before,
.lookFilled-1Gx00P.colorPrimary-3b3xI6 { /* video bar is accent */
    background-color: var(--accent) !important;
}
.directionColumn-35P_nr {
    background: transparent !important;
}
.applicationStore-1pNvnv { /* Nitro purchase window has curved borders and margins */
    border-radius: 8px !important;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* BAR MENTIONS */
.mentionsBadge-3tC7Mi {
    padding-left: 11px;
}
.mentionsBadge-3tC7Mi .base-PmTxvP {
    width:var(--ping-width) !important;
    min-height: 1px !important;
    height: 5px !important;
}
.mentionsBadge-3tC7Mi .numberBadge-2s8kKX{
    font-size: 14px;
    text-align: left;
    text-indent:calc(var(--ping-width)-26px);
}